@import url('https://fonts.googleapis.com/css?family=Poor+Story|Roboto+Mono');

.App {
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  color: #313638;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ef6461;
  color: #fff;
  height: 15vh;
  width: 100vw;
  padding: 2.5vh;
}

.App-title {
  font-family: 'Poor Story', sans-serif;
  font-size: 5.5em;
  color: #fff;
  width: 50%;
  margin: auto;
}

.App-title-mini {
  font-size: 1.5rem;
}

.App-field {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  display: flex;
  align-items: flex-start;
}

.App-field.row {
  flex-direction: row;
}
.App-field.col {
  flex-direction: column;
}

.App-field.half {
  flex-wrap: wrap;
}

.App-field > label {
  color: #ef6461;
  width: 100%;
}

.App-field > label span.big {
  font-size: 2rem;
  line-height: 0;
}

.App-field > label span small {
  font-size: 0.5rem;
}

.App-field > label small {
  font-size: 0.6em;
  color: #313638;
}

.App-field > input,
.App-field > textarea,
.App-field > .App-editable {
  border: 1px solid #313638;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 15px;
  background: #e0dfd5;
  font-family: 'Roboto Mono', sans-serif;
  text-align: left;
  color: #313638;
  outline: none;
}

.App-field > textarea,
.App-field > .App-editable {
  width: 50%;
  overflow-y: auto;
  flex-grow: 1;
}

.App-field > textarea {
  min-height: 300px;
  max-height: 300px;
}

.App-field > .App-editable {
  max-height: 1200px;
  min-height: 400px;
}

.App-field.half + .App-field.half {
  padding: 0 0 0 1rem;
}

.App-field > textarea:focus,
.App-field > input:focus,
.App-field > .App-editable:focus {
  border-color: #ef6461;
}

.App-field > .App-editable > div {
  display: block;
}

.yellow-highlight {
  text-shadow: 1px 1px 10px yellow, -1px -1px 10px yellow, 1px 1px 10px yellow, -1px -1px 10px yellow;
}

.red-highlight {
  text-shadow: 1px 1px 10px #ef6461, -1px -1px 10px #ef6461, 1px 1px 10px #ef6461, -1px -1px 10px #ef6461;
}

footer {
  position: absolute;
  background-color: #ef6461;
  bottom: 0;
  width: 100vw;
  height: 10vh;
}
footer .App-credits p {
  color: #313638;
  font-size: 0.75em;
  margin: 5px;
}

footer .App-credits a {
  color: #fff;
}
